# Simple Data Types

## Numbers

Numbers are: int, float, complex

### Integers

In [1]:
5+5

10

In [2]:
5-7

-2

In [3]:
5*5

25

In [4]:
# Simple division

25/3

8.333333333333334

### Floating points (aka numbers with decimals)

In [5]:
a = 50 * 23/4
a

287.5

### A complex number

In [10]:
a = 23e4
b = 23E4
c = -23e100




print(a)
print(b)
print("This is C: {}".format(c))

230000.0
230000.0
This is C: -2.3e+101

## Arithmetic Operators

- Addition
- Subtraction
- Multiplication
- Division
- Modulus (remainder)
- Exponents
- Floor division

In [11]:
# Modulus - remainder of division

25 % 3

1

In [15]:
# Calculate power

#5**2  # squared

5**5 #= 3125   . 5 to the 5th power

3125

In [16]:
5**5

3125

In [17]:
# Floor division

25 // 3

8

### Assign a value to a variable

In [18]:
shipments = 1000
administered = 950
doses_left = shipments - administered
doses_left

50

## Operators Cheat Sheet

https://cheatography.com/nouha-thabet/cheat-sheets/python-operators-and-booleans/ <p>
    
![image1.png](images/image1.png)

In [19]:
'yes' == 'no'

False

In [20]:
(10>12) and (30<40)

False

In [21]:
(10>12) or (30<40)

True

In [22]:
(10==12) or (1==1) or (30>40)

True

In [23]:
(10==12) or (1==1) and (30>40)

False

## Strings

In [ ]:
'use a single quote'

In [ ]:
"use a double quote"

In [25]:
"'this is quote' used in a quote'"

"'this is quote' used in a quote'"

In [ ]:
'"this is a quote" in a quote'

In [26]:
2*'su- '+'sudio.  Thank you Phil Collins'

'su- su- sudio.  Thank you Phil Collins'

### Working with a long string

In [27]:
lyrics = ("There's this girl that's been on my mind "
          'All the time, Su-Sussudio '
          'Oh oh '
          "Now she don't even know my name "
          'But I think she likes me just the same '
          'Su-Sussudio '
          'Woah oh ')
lyrics

"There's this girl that's been on my mind All the time, Su-Sussudio Oh oh Now she don't even know my name But I think she likes me just the same Su-Sussudio Woah oh "

### Reference Material

- https://docs.python.org/3/library/stdtypes.html#string-methods or
- https://www.w3schools.com/python/python_strings_methods.asp

## Booleans

A boolean can have 1 of 2 values: True or False.

In [28]:
x = 100< 95
x

False

In [29]:
a = 100
b = 95
x = a > b
if x == True: print('yes')

yes

In [30]:
type(a)

int

# Data Structures

- List
- Tuple
- Set
- Dictionary

https://docs.python.org/3/tutorial/datastructures.html

## Lists

**Lists**, Tuples, Sets, Dictionaries

A compound data type

- items, sepated by commas
- inside square brackets []
- usually, but not always the same data type

In [31]:
months = [1,2,3,4,5,6,7,8,9,10,11,12]
months

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [32]:
month_names = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
month_names

['Jan',
 'Feb',
 'Mar',
 'Apr',
 'May',
 'Jun',
 'Jul',
 'Aug',
 'Sep',
 'Oct',
 'Nov',
 'Dec']

In [33]:
letters = ['a', 'b', 'c', 'd']
letters

['a', 'b', 'c', 'd']

In [34]:
mess = letters+months
mess

['a', 'b', 'c', 'd', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

### Indexing and Slicing

**Indexing** returns a value from a list based on its position. **Indexing starts at zero**<br>
The index values(s) go inside square brackets [].<br><br>
**Slicing** returns a new list.

In [35]:
# Indexing
# Return the value of letters at index 0.
letters = ['a', 'b', 'c', 'd']
letters[0]

'a'

In [36]:
# Return 'c'
letters[2]

'c'

In [37]:
# Work from the end back.  This do NOT start at zero
# Return 'c' starting from the end.

letters[-2]

'c'

In [38]:
month_names

['Jan',
 'Feb',
 'Mar',
 'Apr',
 'May',
 'Jun',
 'Jul',
 'Aug',
 'Sep',
 'Oct',
 'Nov',
 'Dec']

In [39]:
# Slicing - returns a new list based on the index provided
# Return 6, 7 and 8

month_names[6:9]

['Jul', 'Aug', 'Sep']

In [ ]:
# Return everything from 6 on

In [40]:
month_names[6:]

['Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

### Replace a value

In [41]:
letters

['a', 'b', 'c', 'd']

In [42]:
letters[2]='Z'
letters

['a', 'b', 'Z', 'd']

### Add values

- append
- insert
- extend

In [43]:
# Using the string function APPEND.
letters = ['a', 'b', 'c', 'd']

letters.append('e')  # .append takes one parameter
letters

['a', 'b', 'c', 'd', 'e']

In [44]:
# Using the string function INSERT to put something in at a specific position.
letters = ['a', 'b', 'c', 'd']

letters.insert(2,'ZZ')
letters

['a', 'b', 'ZZ', 'c', 'd']

In [45]:
# Using EXTEND to make the list bigger
letters = ['a', 'b', 'c', 'd']

abc = ['f','g','h']
letters.extend(abc)
letters

['a', 'b', 'c', 'd', 'f', 'g', 'h']

In [47]:
# This is what happens if we try APPEND.
letters = ['a', 'b', 'c', 'd']
abc = ['f','g','h']
letters.append(abc)  # Returns a nested list
letters

['a', 'b', 'c', 'd', ['f', 'g', 'h']]

In [ ]:
# So, how can we make a big list with letters and abc?
letters = ['a', 'b', 'c', 'd']
letters+abc

### Remove values

- pop 
- remove
- clear

In [48]:
letters = ['a', 'b', 'c', 'd']

letters.pop(1)
letters

['a', 'c', 'd']

In [49]:
# POP without an index value removes the last value.

letters = ['a', 'b', 'c', 'd']
letters.pop()
letters

['a', 'b', 'c']

In [50]:
# REMOVE
letters = ['a', 'b', 'c', 'd', 'a']

letters.remove('a')
letters

['b', 'c', 'd', 'a']

In [51]:
# CLEAR the list
letters = ['a', 'b', 'c', 'd']

letters.clear()
letters

[]

### Sort, Count, Reverse

In [ ]:
# Sort the list
letters = ['a', 'b', 'c', 'd','a','a']

letters.sort()
letters

# letters.sort(reverse=True)
# letters

In [ ]:
letters = ['a', 'b', 'c', 'd','a','a']

letters.reverse()
letters

In [52]:
letters = ['a', 'b', 'c', 'd','a','a']

letters.count('a')

3

### Miscellaneous

List can be used as:

- **stacks** for last-in, first-out processing
- **queues** for first-in, first-out processing

## Tuples

Lists, **Tuples**, Sets, Dictionaries

- Like a list, they contain a collection of items.
- A list is defined by the use of square brackets.  A tuple is defined by the use of parentheses.
- Unlike a list, which can have its items changed (mutable), tuples cannot (**imutable**)
- Tuples are more memory efficient and are generally used for a set of unchanging values (e.g., months, states, etc.)

In [ ]:
letters_t = ('a', 'b', 'c', 'd')
type(letters_t)

In [ ]:
import sys

letters = ['a', 'b', 'c', 'd','a','a','a', 'b', 'c', 'd','a','a','a', 'b', 'c', 'd','a','a']
letters_t = ('a', 'b', 'c', 'd','a','a','a', 'b', 'c', 'd','a','a','a', 'b', 'c', 'd','a','a')
print(sys.getsizeof(letters))
print(sys.getsizeof(letters_t))

## Sets

Lists, Tuples, **Sets**, Dictionaries

- Like a list and a tuple, they contain a collection of items.
- A set is defined by the use of curly braces {}.
- A set is an unordered collection with **no duplicate items**.
- A set is immutable after it has been created.
- Sets are useful for removing duplicate values
- Set items are unordered (and may appear in a different order each time the set is used).

In [ ]:
letters_s = {'a', 'b', 'e','c', 'd','a','a'}
letters_s

In [2]:
# Items already in a set cannot be changed but new items can be added.
letters_s = {'a', 'b', 'e','c', 'd','a','a'}

letters_s.add('q')
letters_s

{'a', 'b', 'c', 'd', 'e', 'q'}

In [ ]:
# Sets can be added to one another

letters_s = {'a', 'b', 'c', 'd'}
abc_s = {'f','g','h'}

letters_s.update(abc_s)
letters_s

In [ ]:
# Items can be removed from a set.
letters_s = {'a', 'b', 'c', 'd'}

letters_s.remove('a')
letters_s

#letters_s.discard('a')
#letters_s

In [ ]:
# Try to remove 'e' from the list.  Do you get an error message?
# Try to discard 'e'.  What happens?

#letters_s.remove('e')
#letters_s

#letters_s.discard('e')
#letters_s

## Set Exercise - 5 minutes

Use the documentation 
- https://docs.python.org/3/library/stdtypes.html#set or 
- https://www.w3schools.com/python/python_sets_methods.asp

In the two sets below:
- What items are in common (intersection)?
- What items are unique across both sets (i.e., not part of the intersection?

deliveries = {'Boston','Monticello','Chicago','Atlanta','Dickey','Douglas','Zenda','Springfield'}<br>
clinics = {'Boston','Chicago','Atlanta','Zenda','Springfield'}

In [ ]:
deliveries = {'Boston','Monticello','Chicago','Atlanta','Dickey','Douglas','Zenda','Springfield'}
clinics = {'Boston','Chicago','Atlanta','Zenda','Springfield'}

## Dictionaries

Lists, Tuples, Sets, **Dictionaries**

- A dictionary (aka dict) is a collection of key:value pairs (e.g., zipcode:01545)
- A dictionary is defined by the use of curly braces {} that contain key:value pairs.
- A dictionary is an ordered collection with **no duplicate keys**.
- A dictionary is mutable.

In [ ]:
things = {'key1':'thing1','key2':'thing2','key3':'thing3'}
type(things)

In [ ]:
# Get the value of a key

things.get('key1')

In [ ]:
# Get the keys

things.keys()

In [ ]:
# Add a key:value pair to the dictionary

things['key4']='thing4'
things

In [ ]:
my_dict = {} 
my_dict['l'] = 4
my_dict['m'] = 6
my_dict['n'] = 9
new_value = list(my_dict.items())  # Cast the dict to a list in order to access by index

new_value

In [ ]:
print(new_value[2])

In [ ]:
# Update a value

things.update({'key3':1999})
things

In [ ]:
things.items()

In [ ]:
# Remove a key:value pair

things = {'key1':'thing1','key2':'thing2','key3':1999, 'key4':'thing4'}

#things.pop('key3')
#things
    
# things.popitem()   # popitem will only remove the last item

things.clear()     # empties the dictionary
things

In [ ]:
# A preview of loops
things = {'key1':'thing1','key2':'thing2','key3':1999, 'key4':'thing4'}

for xyz in things: 
    print(xyz)         # print the keys
#    print(things[xyz])  # print the values
    
#for xyz in things.keys():
#    print(xyz)

#for xyz in things.values():
#    print(xyz)

In [ ]:
for a,b in things.items():
    print(a,b)

## Dictionary Exercise - 15 minutes

https://www.w3schools.com/python/python_dictionaries_methods.asp

1. Create a dictionary with 5 key:value pairs
2. Get the value of the thrid pair
3. Update the value of the third pair
4. Use items to return a tuple of the key:value pairs
5. Return a list of all the values
6. Use the setdefault method. Used when a key is not in the dictionary.

In [ ]:
# Dictionary Exercise Here...
morethings = {'key1':'thing1','key2':'thing2','key3':'thing3','key4':'thing4','key4':'thing3'}

## Arrays & Dataframes

Arrays and Dataframes will be discussed after numpy and pandas are introduced.<p>

# Control Flows

## If/then/else Statements

In [ ]:
# The basic format... If (test is true): do something

In [ ]:
a = 100
b = 95
x = a > b
if x == True: print('yes')

In [ ]:
things = {'key1':'thing1','key2':'thing2','key3':1999, 'key4':'thing4'}
if things.get('key1') == 'thing1': print('it worked')
    
# What happens if it fails?
#if things.get('key1') == 'thing2': print('it worked')

In [ ]:
things = {'key1':'thing1','key2':'thing2','key3':1999, 'key4':'thing4'}
if things.get('key1') == 'thing2': 
    print('it worked')
else:                                         # Don't forget the colon!!!!
    print('key1 does not hold thing1')

In [ ]:
things = {'key1':'thing1','key2':'thing2','key3':1999, 'key4':'thing4'}
if things.get('key1') == 'thing2': 
    print('key1 holds thing2')
elif things.get('key1') == 'thing3':
    print('key1 holds thing3')
elif things.get('key1') == 'thing1':   # after running this, change thing1 to thing7 to get else to work
    print('key1 holds thing1')
else:
    print('key1 must hold thing4')

## Loops

There are two loop commands: for & while.

### for loops

In [ ]:
letters = ['a', 'b', 'c', 'd']
letters

In [ ]:
# Basic format for 'any name you want' in 'the collection you are using': do something

letters = ['a', 'b', 'c', 'd']
for item in letters: print(item)

In [ ]:
letters = ['a', 'b', 'c', 'd']
for item in letters: 
    print(item+'xyz')

In [ ]:
letters = ['a', 'b', 'c', 'd']
for item in letters: 
    x = (item+'xyz')

In [ ]:
# Loop through a string

for each in 'Su-Sussudio':
    print(each)

In [ ]:
# Using a tuple

letters_t = ('a', 'b', 'c', 'd')
for item in letters: 
   print(item)

In [ ]:
# Using a set

letters_t = {'a', 'b', 'c', 'd'}
for item in letters: 
   print(item)

In [ ]:
months = [1,2,3,4,5,6,7,8,9,10,11,12]
months

In [ ]:
for item in months:
    if item > 10: 
        print(item)

In [ ]:
new_set = {}
for item in months:
    if item > 7: 
        new_set[item] = item+100 
        print(new_set)

In [ ]:
type(new_set)

### while loops

Continue to execute as long as a condition is True.

In [ ]:
i = 1
while i < 6:
    print(i)
    i += 1  # i = i + 1

In [ ]:
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print('we are done')

### range()

![image2.png](images/image2.png)
https://pynative.com/python-range-function/

In [ ]:
for each in range(5):
    print(each)

In [ ]:
x = list(range(5,-1,-1))
x

In [ ]:
cities = ['Boston','Chicago','Atlanta','NYC','LA']
for each in range(len(cities)):  # Determining how many items are in the list
    print(each, cities[each])

In [ ]:
for each in cities:
    print(each)

In [ ]:
for each in range(2):  # Determining how many items are in the list
    print(each, cities[each])

### list comprehension

List comprehension is the use of compact syntax to create a list from another list or a string.  It is faster than using a loop.

In [ ]:
# Create a list of even numbers

even_nums = []
for x in range(21):
    if x%2 == 0:
        even_nums.append(x)
print(even_nums)

In [ ]:
even_nums = [x for x in range(21) if x%2 == 0]
print(even_nums)

# In the above example, [x for x in range(21) if x%2 == 0] returns a new list using the list comprehension. 
# First, it executes the for loop for x in range(21) if x%2 == 0. The element x would be returned if the 
# specified condition if x%2 == 0 evaluates to True.