<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Reducing-rows-and-columns" data-toc-modified-id="Reducing-rows-and-columns-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Reducing rows and columns</a></span><ul class="toc-item"><li><span><a href="#Reducing-the-rows" data-toc-modified-id="Reducing-the-rows-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Reducing the rows</a></span><ul class="toc-item"><li><span><a href="#An-alternative-approach" data-toc-modified-id="An-alternative-approach-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>An alternative approach</a></span></li></ul></li><li><span><a href="#Reducing-the-columns" data-toc-modified-id="Reducing-the-columns-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Reducing the columns</a></span></li></ul></li><li><span><a href="#Saving-a-dataframe-to-csv" data-toc-modified-id="Saving-a-dataframe-to-csv-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Saving a dataframe to csv</a></span></li><li><span><a href="#Merge,-.join-,-Concatenate" data-toc-modified-id="Merge,-.join-,-Concatenate-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Merge, .join , Concatenate</a></span><ul class="toc-item"><li><span><a href="#Making-the-'table'-wider-(i.e.,-adding-columns-from.-a-second-source)" data-toc-modified-id="Making-the-'table'-wider-(i.e.,-adding-columns-from.-a-second-source)-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Making the 'table' wider (i.e., adding columns from. a second source)</a></span></li><li><span><a href="#Merge" data-toc-modified-id="Merge-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Merge</a></span><ul class="toc-item"><li><span><a href="#Basic-merge" data-toc-modified-id="Basic-merge-3.2.1"><span class="toc-item-num">3.2.1&nbsp;&nbsp;</span>Basic merge</a></span></li><li><span><a href="#Specifying-columns-to-use-for-the-merge" data-toc-modified-id="Specifying-columns-to-use-for-the-merge-3.2.2"><span class="toc-item-num">3.2.2&nbsp;&nbsp;</span>Specifying columns to use for the merge</a></span></li></ul></li><li><span><a href="#.join" data-toc-modified-id=".join-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>.join</a></span></li><li><span><a href="#Other-merge/join-options" data-toc-modified-id="Other-merge/join-options-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Other merge/join options</a></span><ul class="toc-item"><li><span><a href="#Column-names-not-the-same" data-toc-modified-id="Column-names-not-the-same-3.4.1"><span class="toc-item-num">3.4.1&nbsp;&nbsp;</span>Column names not the same</a></span></li><li><span><a href="#Outer-join" data-toc-modified-id="Outer-join-3.4.2"><span class="toc-item-num">3.4.2&nbsp;&nbsp;</span>Outer join</a></span></li><li><span><a href="#Left-join" data-toc-modified-id="Left-join-3.4.3"><span class="toc-item-num">3.4.3&nbsp;&nbsp;</span>Left join</a></span></li><li><span><a href="#Right-join" data-toc-modified-id="Right-join-3.4.4"><span class="toc-item-num">3.4.4&nbsp;&nbsp;</span>Right join</a></span></li><li><span><a href="#Same-code-using-.join" data-toc-modified-id="Same-code-using-.join-3.4.5"><span class="toc-item-num">3.4.5&nbsp;&nbsp;</span>Same code using .join</a></span></li></ul></li><li><span><a href="#Append-(aka-union)" data-toc-modified-id="Append-(aka-union)-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Append (aka union)</a></span></li><li><span><a href="#Concatenate" data-toc-modified-id="Concatenate-3.6"><span class="toc-item-num">3.6&nbsp;&nbsp;</span>Concatenate</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Concat-can-work-along-either-axis" data-toc-modified-id="Concat-can-work-along-either-axis-3.6.0.1"><span class="toc-item-num">3.6.0.1&nbsp;&nbsp;</span>Concat can work along either axis</a></span></li></ul></li></ul></li></ul></li><li><span><a href="#Merge-Exercise---20-minutes" data-toc-modified-id="Merge-Exercise---20-minutes-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Merge Exercise - 20 minutes</a></span></li><li><span><a href="#Return-to-the-Beer-notebook-and-complete-part-3" data-toc-modified-id="Return-to-the-Beer-notebook-and-complete-part-3-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Return to the Beer notebook and complete part 3</a></span></li></ul></div>

<div style="page-break-after: always; break-after: page;"></div>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
from numpy.random import randn
import warnings
warnings.filterwarnings("ignore")

In [ ]:
acs =    pd.read_csv('https://raw.githubusercontent.com/jimcody2014/python_data/refs/heads/main/acs2017.csv')
places = pd.read_csv('https://raw.githubusercontent.com/jimcody2014/python_data/refs/heads/main/places.csv')
print(acs.shape)
print(places.shape)

# Reducing rows and columns

## Reducing the rows

In [ ]:
# Earlier, we used the code similar to the code below as a way of removing rows 
# from the dataframe.

# In this code we are selecting the rows required

acs = acs.loc[acs['State']== 'Georgia']
acs.shape

# This code modifies the existing dataframe.

In [ ]:
# What if we wanted a new dataframe? 

ga_a = acs.loc[acs.State == 'Georgia']
ga_a.shape

In [ ]:
type(ga_a)

### An alternative approach

In [ ]:
places.info()

In [ ]:
ga_p = places[places['StateAbbr'] == 'GA']
ga_p.shape

In [ ]:
type(ga_p)

## Reducing the columns

In [ ]:
drop_columns = {'Hispanic','White','Black','Native','Asian','Pacific'}
drop_columns

ga_a.drop(columns = drop_columns, inplace=True)

In [ ]:
ga_a.info()

In [ ]:
ga_a.head()

In [ ]:
ga_p.head()

# Saving a dataframe to csv

In [ ]:
# Save ga_a and ga_p as csv files
ga_a.to_csv('ga_a.csv')
ga_p.to_csv('ga_p.csv')

# Merge, .join , Concatenate

## Making the 'table' wider (i.e., adding columns from. a second source)

- merge() for combining data on common columns or indices
- .join() for combining data on a key column or an index (uses merge internally, faster because index is used)
- concat() for combining DataFrames across rows or columns

In [ ]:
df1 = {
    'location':['bolton','berlin','boyleston','charlton'],
    'apples': [3, 2, 0, 1], 
    'pears': [0, 3, 7, 2]
}

df2 = {
    'location':['bolton','berlin','boyleston','charlton'],
    'blueberries': [3, 2, 0, 1], 
    'strawberries': [0, 3, 7, 2]
}

d1 = pd.DataFrame(df1)
d2 = pd.DataFrame(df2)
d1.info()

In [ ]:
d2.info()

## Merge

### Basic merge

In [ ]:
pd.merge(d1,d2,how = 'inner')  # Inner, outer, left, right
# When not being explicit, the merge is based on the index for each dataframe.

More info: https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html#brief-primer-on-merge-methods-relational-algebra

### Specifying columns to use for the merge

In [ ]:
df3 = {
    'state':['MA','MA','VT','VT'],
    'location':['bolton','berlin','boyleston','berlin'],
    'apples': [3, 2, 0, 1], 
    'pears': [0, 3, 7, 2]
}

df4 = {
    'state':['MA','MA','VT','VT'],
    'location':['bolton','berlin','boyleston','berlin'],
    'blueberries': [3, 2, 0, 1], 
    'strawberries': [0, 3, 7, 2]
}

d3 = pd.DataFrame(df3)
d4 = pd.DataFrame(df4)

In [ ]:
multi = pd.merge(d3,d4, how = 'inner', on = ['state','location'])
multi

## .join

In [ ]:
# basic syntax - first_dataframe.join(to second dataframe)
d1.join(d2, lsuffix = '_1')

# d1.join(d2, lsuffix = '_1', rsuffix = '_2')

In [ ]:
# If you want to use join() and want to merge the columns, you must set them to be indexes first. 

d1.join(d2.set_index('location'), on='location', lsuffix = '_1', rsuffix = '_2')

In [ ]:
d3.join(d4.set_index(['state','location']), on=['state','location'], lsuffix='_3')

![image10_merge.png](images/image10_merge.png)


https://queirozf.com/entries/pandas-dataframes-merge-join-examples

## Other merge/join options

### Column names not the same

In [ ]:
df5 = {
    'state':['MA','MA','VT','VT'],
    'location':['bolton','berlin','boyleston','berlin'],
    'apples': [3, 2, 0, 1], 
    'pears': [0, 3, 7, 2]
}

df6 = {
    'states':['MA','MA','VT','VT'],
    'loc':['bolton','berlin','boyleston','berlin'],
    'blueberries': [3, 2, 0, 1], 
    'strawberries': [0, 3, 7, 2]
}

d5 = pd.DataFrame(df5)
d6 = pd.DataFrame(df6)

In [ ]:
# Use left_on, right_on instead of on.

pd.merge(d5, d6, left_on = ['state','location'], right_on = ['states','loc'])

# Would it be better or easier to just rename the columns?

### Outer join

In [ ]:
df7 = {
    'state':['MA','MA','VT','NH'],
    'location':['bolton','berlin','boyleston','berlin'],
    'apples': [3, 2, 0, 1], 
    'pears': [0, 3, 7, 2]
}

df8 = {
    'state':['MA','MA','VT','ME'],
    'location':['bolton','berlin','boyleston','berlin'],
    'blueberries': [3, 2, 0, 1], 
    'strawberries': [0, 3, 7, 2]
}

d7 = pd.DataFrame(df7)
d8 = pd.DataFrame(df8)

In [ ]:
outer = pd.merge(d7,d8, how = 'outer', on = ['state','location'])
outer

### Left join

In [ ]:
left = pd.merge(d7,d8, how = 'left', on = ['state','location'])
left

# Notice the Nan values

### Right join

In [ ]:
right = pd.merge(d7,d8, how = 'right', on = ['state','location'])
right

### Same code using .join

In [ ]:
# Outer join

d7.join(d8.set_index(['state','location']), on=['state','location'], lsuffix='_3',how= 'outer')

In [ ]:
# Left join

d7.join(d8.set_index(['state','location']), on=['state','location'], lsuffix='_3',how= 'left')

In [ ]:
# Right join

d7.join(d8.set_index(['state','location']), on=['state','location'], lsuffix='_3',how= 'right')

## Append (aka union)

Stack datasets on top of one another

In [ ]:
df9 = {
    'month':['Oct','Oct','Oct','Oct'],
    'location':['bolton','berlin','boyleston','charlton'],
    'apples': [3, 2, 0, 1], 
    'pears': [0, 3, 7, 2]
}

df10 = {
    'month':['Nov','Nov','Nov','Nov'],
    'location':['bolton','berlin','boyleston','charlton'],
    'apples': [3, 2, 0, 1], 
    'pears': [0, 3, 7, 2]
}

d9 = pd.DataFrame(df9)
d10 = pd.DataFrame(df10)

In [ ]:
d9.append(d10)

## Concatenate

With concatenation, your datasets are just stitched together along an axis — either the row axis or column axis

In [ ]:
pd.concat([d9,d10])  # Need to pass in a *list* of dataframes

#### Concat can work along either axis

In [ ]:
pd.concat([d9,d10], axis = 1)

In [ ]:
pd.concat([d7,d8], axis = 1)  # Be careful!

In [ ]:
pd.concat([d7,d8], join = 'inner', axis =1)

# Merge Exercise - 20 minutes

In [ ]:
# ga_a (acs data for Georgia) and ga_p (PLACES data for Georgia) each have 159 rows.  
# We might assume each df contains the same list of counties but we can't be sure.  
# Merge the datasets together using an inner join and then an outer join.  
# Do the shapes (dimensions) of the merged datasets change?  
# Do they contain the same number of counties?

# Return to the Beer notebook and complete part 3