<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Ingest,-Inspect-&amp;-Clean" data-toc-modified-id="Ingest,-Inspect-&amp;-Clean-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Ingest, Inspect &amp; Clean</a></span><ul class="toc-item"><li><span><a href="#Ingest-data" data-toc-modified-id="Ingest-data-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Ingest data</a></span><ul class="toc-item"><li><span><a href="#Reading-csv-files" data-toc-modified-id="Reading-csv-files-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>Reading csv files</a></span></li><li><span><a href="#read_csv-options" data-toc-modified-id="read_csv-options-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>read_csv options</a></span></li><li><span><a href="#Ingesting-Dates" data-toc-modified-id="Ingesting-Dates-1.1.3"><span class="toc-item-num">1.1.3&nbsp;&nbsp;</span>Ingesting Dates</a></span></li><li><span><a href="#Reading-other-file-types" data-toc-modified-id="Reading-other-file-types-1.1.4"><span class="toc-item-num">1.1.4&nbsp;&nbsp;</span>Reading other file types</a></span></li><li><span><a href="#Using-an-API-as-input-------This-will-not-run-on-Kaggle" data-toc-modified-id="Using-an-API-as-input-------This-will-not-run-on-Kaggle-1.1.5"><span class="toc-item-num">1.1.5&nbsp;&nbsp;</span>Using an API as input - - - This will not run on Kaggle</a></span></li><li><span><a href="#A-local-example-running-on-my-machine" data-toc-modified-id="A-local-example-running-on-my-machine-1.1.6"><span class="toc-item-num">1.1.6&nbsp;&nbsp;</span>A local example running on my machine</a></span></li></ul></li><li><span><a href="#Exercise---15-minutes" data-toc-modified-id="Exercise---15-minutes-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Exercise - 15 minutes</a></span><ul class="toc-item"><li><span><a href="#Part-1" data-toc-modified-id="Part-1-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Part 1</a></span></li><li><span><a href="#Part-2" data-toc-modified-id="Part-2-1.2.2"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span>Part 2</a></span></li></ul></li></ul></li><li><span><a href="#Renaming-Preview" data-toc-modified-id="Renaming-Preview-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Renaming Preview</a></span><ul class="toc-item"><li><span><a href="#Rename-using-names-in-read_csv" data-toc-modified-id="Rename-using-names-in-read_csv-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Rename using names in read_csv</a></span></li><li><span><a href="#Rename-all-columns-using-rename()" data-toc-modified-id="Rename-all-columns-using-rename()-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Rename all columns using rename()</a></span></li><li><span><a href="#Rename-some-columns-using-rename()" data-toc-modified-id="Rename-some-columns-using-rename()-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Rename some columns using rename()</a></span></li><li><span><a href="#Rename-using-setaxis()" data-toc-modified-id="Rename-using-setaxis()-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Rename using setaxis()</a></span></li><li><span><a href="#Rename-using-.columns" data-toc-modified-id="Rename-using-.columns-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Rename using .columns</a></span></li><li><span><a href="#Rename-using-str.replace-(a-string-function)" data-toc-modified-id="Rename-using-str.replace-(a-string-function)-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>Rename using str.replace (a string function)</a></span></li></ul></li></ul></div>

# Ingest, Inspect & Clean

In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn

## Ingest data

https://pandas.pydata.org/docs/user_guide/io.html

**NOTE**
- diabetes1 - 19 columns w/ header
- diabetes2 - 19 columns no header

In [ ]:
# https://raw.githubusercontent.com/jimcody2014/python_data/refs/heads/main/diabetes1.csv
# https://raw.githubusercontent.com/jimcody2014/python_data/refs/heads/main/diabetes2.csv
# https://raw.githubusercontent.com/jimcody2014/python_data/refs/heads/main/diabetes_inspect.csv

### Reading csv files

In [2]:
diabetes1 = pd.read_csv('https://raw.githubusercontent.com/jimcody2014/python_data/refs/heads/main/diabetes1.csv')

In [3]:
diabetes1.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,admission_source_id,time_in_hospital,payer_code,num_lab_procedures,num_procedures,num_medications,diag_1,A1Cresult,metformin,miglitol,insulin,readmitted,Date
0,2278392,8222157,Caucasian,Female,[0-10),?,6,1,1,?,41,0,1,250.83,NaN,No,No,No,NO,10/20/2021
1,149190,55629189,Caucasian,Female,[10-20),?,1,7,3,?,59,0,18,276,NaN,No,No,Up,>30,09/25/2021
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,7,2,?,11,5,13,648,NaN,No,No,No,NO,08/29/2021
3,500364,82442376,Caucasian,Male,[30-40),?,1,7,2,?,44,1,16,8,NaN,No,No,Up,NO,10/20/2021
4,16680,42519267,Caucasian,Male,[40-50),?,1,7,1,?,51,0,8,197,NaN,No,No,Steady,NO,09/25/2021

### read_csv options

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/jimcody2014/python_data/refs/heads/main/diabetes2.csv')

In [5]:
df.head()

,2278392,8222157,Caucasian,Female,[0-10),?,6,1,1.1,?.1,41,0,1.2,250.83,None,No,No.1,No.2,NO,10/20/21
0,149190,55629189,Caucasian,Female,[10-20),?,1,7,3,?,59,0,18,276,NaN,No,No,Up,>30,9/25/21
1,64410,86047875,AfricanAmerican,Female,[20-30),?,1,7,2,?,11,5,13,648,NaN,No,No,No,NO,8/29/21
2,500364,82442376,Caucasian,Male,[30-40),?,1,7,2,?,44,1,16,8,NaN,No,No,Up,NO,10/20/21
3,16680,42519267,Caucasian,Male,[40-50),?,1,7,1,?,51,0,8,197,NaN,No,No,Steady,NO,9/25/21
4,35754,82637451,Caucasian,Male,[50-60),?,2,2,3,?,31,6,16,414,NaN,No,No,Steady,>30,8/29/21

In [6]:
df = pd.read_csv('https://raw.githubusercontent.com/jimcody2014/python_data/refs/heads/main/diabetes2.csv', 
                 header = None)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,2278392,8222157,Caucasian,Female,[0-10),?,6,1,1,?,41,0,1,250.83,NaN,No,No,No,NO,10/20/21
1,149190,55629189,Caucasian,Female,[10-20),?,1,7,3,?,59,0,18,276,NaN,No,No,Up,>30,9/25/21
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,7,2,?,11,5,13,648,NaN,No,No,No,NO,8/29/21
3,500364,82442376,Caucasian,Male,[30-40),?,1,7,2,?,44,1,16,8,NaN,No,No,Up,NO,10/20/21
4,16680,42519267,Caucasian,Male,[40-50),?,1,7,1,?,51,0,8,197,NaN,No,No,Steady,NO,9/25/21

In [8]:
# Override existing column names

diabetes1 = pd.read_csv('https://raw.githubusercontent.com/jimcody2014/python_data/refs/heads/main/diabetes2.csv',
                       header = 0,
                       names = ('EncounterId','b','c','d','e','f','g','h','i','j','k',
                                'l','m','n','o','p','q','r','s','EDT'))
diabetes1.head()

,EncounterId,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,EDT
0,149190,55629189,Caucasian,Female,[10-20),?,1,7,3,?,59,0,18,276,NaN,No,No,Up,>30,9/25/21
1,64410,86047875,AfricanAmerican,Female,[20-30),?,1,7,2,?,11,5,13,648,NaN,No,No,No,NO,8/29/21
2,500364,82442376,Caucasian,Male,[30-40),?,1,7,2,?,44,1,16,8,NaN,No,No,Up,NO,10/20/21
3,16680,42519267,Caucasian,Male,[40-50),?,1,7,1,?,51,0,8,197,NaN,No,No,Steady,NO,9/25/21
4,35754,82637451,Caucasian,Male,[50-60),?,2,2,3,?,31,6,16,414,NaN,No,No,Steady,>30,8/29/21

In [9]:
# Use a column as the index

df = pd.read_csv('https://raw.githubusercontent.com/jimcody2014/python_data/refs/heads/main/diabetes2.csv', 
                 header = None, 
                names = ('EncounterId','b','c','d','e','f','g','h','i','j','k',
                         'l','m','n','o','p','q','r','s','EDT'),
                index_col = 'EncounterId')
df.head()

,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,EDT
EncounterId,,,,,,,,,,,,,,,,,,,
2278392,8222157,Caucasian,Female,[0-10),?,6,1,1,?,41,0,1,250.83,NaN,No,No,No,NO,10/20/21
149190,55629189,Caucasian,Female,[10-20),?,1,7,3,?,59,0,18,276,NaN,No,No,Up,>30,9/25/21
64410,86047875,AfricanAmerican,Female,[20-30),?,1,7,2,?,11,5,13,648,NaN,No,No,No,NO,8/29/21
500364,82442376,Caucasian,Male,[30-40),?,1,7,2,?,44,1,16,8,NaN,No,No,Up,NO,10/20/21
16680,42519267,Caucasian,Male,[40-50),?,1,7,1,?,51,0,8,197,NaN,No,No,Steady,NO,9/25/21

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 101768 entries, 2278392 to 443797076
Data columns (total 19 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   b       101768 non-null  int64
 1   c       101768 non-null  object
 2   d       101768 non-null  object
 3   e       101768 non-null  object
 4   f       101621 non-null  object
 5   g       101768 non-null  int64
 6   h       101768 non-null  int64
 7   i       101768 non-null  int64
 8   j       101768 non-null  object
 9   k       101768 non-null  int64
 10  l       101768 non-null  int64
 11  m       101768 non-null  int64
 12  n       101768 non-null  object
 13  o       17019 non-null   object
 14  p       101768 non-null  object
 15  q       101768 non-null  object
 16  r       101768 non-null  object
 17  s       101768 non-null  object
 18  EDT     101768 non-null  object
dtypes: int64(7), object(12)
memory usage: 15.5+ MB

In [11]:
df.loc[64410]

b             86047875
c      AfricanAmerican
d               Female
e              [20-30)
f                    ?
g                    1
h                    7
i                    2
j                    ?
k                   11
l                    5
m                   13
n                  648
o                  NaN
p                   No
q                   No
r                   No
s                   NO
EDT            8/29/21
Name: 64410, dtype: object

In [12]:
# Only use a subset of the columns

df = pd.read_csv('https://raw.githubusercontent.com/jimcody2014/python_data/refs/heads/main/diabetes2.csv', 
                 header = None, 
                names = ('EncounterId','b','c','d','e','EDT'),
                index_col = 'EncounterId',
                usecols = [0,1,2,3,7,19])
df.head()

                    b                c       d  e       EDT
EncounterId
2278392       8222157        Caucasian  Female  1  10/20/21
149190       55629189        Caucasian  Female  7   9/25/21
64410        86047875  AfricanAmerican  Female  7   8/29/21
500364       82442376        Caucasian    Male  7  10/20/21
16680        42519267        Caucasian    Male  7   9/25/21

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 101768 entries, 2278392 to 443797076
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   b       101768 non-null  int64
 1   c       101768 non-null  object
 2   d       101768 non-null  object
 3   e       101768 non-null  int64
 4   EDT     101768 non-null  object
dtypes: int64(2), object(3)
memory usage: 4.7+ MB

In [ ]:
# Change data types as the data is read in
df = pd.read_csv('https://raw.githubusercontent.com/jimcody2014/python_data/refs/heads/main/diabetes2.csv', 
                 header = None, 
                names = ('EncounterId','b','c','d','e','EDT'),
                index_col = 'EncounterId',
                usecols = [0,1,2,3,7,19],
                dtype = {'e':object }
                )
df.info()

In [14]:
# Change data types as the data is read in
df = pd.read_csv('https://raw.githubusercontent.com/jimcody2014/python_data/refs/heads/main/diabetes2.csv', 
                 header = None, 
                names = ('EncounterId','b','c','d','e','EDT'),
                index_col = 'EncounterId',
                usecols = [0,1,2,3,7,19],
                dtype = object)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 101768 entries, 2278392 to 443797076
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   b       101768 non-null  object
 1   c       101768 non-null  object
 2   d       101768 non-null  object
 3   e       101768 non-null  object
 4   EDT     101768 non-null  object
dtypes: object(5)
memory usage: 4.7+ MB

### Ingesting Dates

In [15]:
# Change data types as the data is read in
df = pd.read_csv('https://raw.githubusercontent.com/jimcody2014/python_data/refs/heads/main/diabetes2.csv', 
                 header = None, 
                names = ('EncounterId','b','c','d','e','EDT'),
                index_col = 'EncounterId',
                usecols = [0,1,2,3,7,19],
                dtype = {'e':object, },
                parse_dates=['EDT']
                )
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 101768 entries, 2278392 to 443797076
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   b       101768 non-null  int64
 1   c       101768 non-null  object
 2   d       101768 non-null  object
 3   e       101768 non-null  object
 4   EDT     101768 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 4.7+ MB

/var/folders/ps/pw1ysjq14lg25dswy8209g1c0000gn/T/ipykernel_13916/1743058086.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df = pd.read_csv('https://raw.githubusercontent.com/jimcody2014/python_data/refs/heads/main/diabetes2.csv',

In [ ]:
df

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/jimcody2014/python_data/refs/heads/main/diabetes2.csv', 
                 header = None, 
                 names = ('EncounterId','b','c','d','e','EDT'),
                 index_col = 'EncounterId',
                 usecols = [0,1,2,3,7,19],
                 dtype = {'e':object, },
                 parse_dates=['EDT'],
                 dayfirst=True                   # Why isn't this working?
                )
df

In [ ]:
df.shape

In [16]:
# Only bring in X number of rows
df = pd.read_csv('https://raw.githubusercontent.com/jimcody2014/python_data/refs/heads/main/diabetes2.csv', 
                 header = None, 
                names = ('EncounterId','b','c','d','e'),
                index_col = 'EncounterId',
                usecols = [0,1,2,3,7],
                nrows = 1000)
df.shape

(1000, 4)

### Reading other file types

 - excel
 - json
 - APIs
 - database

In [ ]:
# Read in an excel spreadsheet
# I had to install openpyxl in my anaconda environment for this to work.

#imm = pd.read_excel('/Users/jamescody/Documents/python-data/immunotherapy.xlsx')
#imm.head()

In [ ]:
# Saving a dataframe to json format
#imm.to_json('')

In [17]:
# Read in a json file

imm2 = pd.read_json('https://raw.githubusercontent.com/jimcody2014/python_data/refs/heads/main/immjson.json')
imm2.head()

,sex,age,Time,Number_of_Warts,Type,Area,induration_diameter,Result_of_Treatment
0,1,22,2.25,14,3,51,50,1
1,1,15,3.00,2,3,900,70,1
2,1,16,10.50,2,1,100,25,1
3,1,27,4.50,9,3,80,30,1
4,1,20,8.00,6,1,45,8,1

### Using an API as input

In [19]:
import requests

In [21]:
# Send the request and receive a response
# Get the content of the response (there are other parts of the response (e.g., header))
# Display the content in json format

response = requests.get("https://data.cdc.gov/resource/saz5-9hgg.json")
jsonhold = response.json()
#jsonhold


#  ?$limit=1000000

In [22]:
# Put the content into a DataFrame
# Display the DataFrame

vaccines = pd.DataFrame(jsonhold)
vaccines.head()

,jurisdiction,week_of_allocations,_1st_dose_allocations,_2nd_dose_allocations
0,Connecticut,2021-06-21T00:00:00.000,54360,54360
1,Maine,2021-06-21T00:00:00.000,21420,21420
2,Massachusetts,2021-06-21T00:00:00.000,104580,104580
3,New Hampshire,2021-06-21T00:00:00.000,21420,21420
4,Rhode Island,2021-06-21T00:00:00.000,17280,17280

In [23]:
vaccines.shape

(1000, 4)

## Exercise - 15 minutes

### Part 1

 - Bring the csv file diabetes_inspect into a DataFrame.  Name the dataframe df.
 - What is its shape?
 
### Part 2

 - Read the outbreaks2.csv file into a pdf.  Name the df something you will remember.
 - The csv file does not have a header row. 
 - This data is a listing of food born illness outbreaks.
 
 - Do not bring in the 6th or 8th columns.  The df should have 10 columns.
 - The remaining columns contain the following data.  You can decide how to name the columns
   - year
   - month
   - state
   - location
   - food
   - species
   - status
   - illnesses
   - hospitalizations
   - fatalities
 - What is the shape of this DataFrame?
   
   ![outbreaks.png](images/outbreaks.png)

In [39]:
# Part 1

df=pd.read_csv('https://raw.githubusercontent.com/jimcody2014/python_data/refs/heads/main/diabetes_inspect.csv')

print(df.shape)

(101767, 33)

In [40]:
df.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,glipizide,glyburide,tolbutamide,miglitol,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,xyz,?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,NaN,?,1,1,7,3,...,No,No,No,No,Up,No,No,No,Yes,>30
2,64410,86047875,AfricanAmerican,female,[20-30),?,1,1,7,2,...,Steady,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Mle,[30-40),?,1,1,7,2,...,No,No,No,No,Up,No,No,No,Yes,NO
4,16680,42519267,Caucasian,M,[40-50),?,1,1,7,1,...,Steady,No,No,No,Steady,No,No,No,Yes,NO

In [43]:
pdf = pd.read_csv('https://raw.githubusercontent.com/jimcody2014/python_data/refs/heads/main/outbreaks2.csv',
                  header = None,
                  names = ('year','month','state','location','food','species','status','illness','hospitalizations','fatalities'),
                  usecols = [0,1,2,3,4,5,7,9,10,11])
#print(pdf.shape)
print(pdf.head())

   year    month       state                location  \
0  1998  January  California              Restaurant
1  1998  January  California                     NaN
2  1998  January  California              Restaurant
3  1998  January  California              Restaurant
4  1998  January  California  Private Home/Residence

                                food species       status  illness  \
0                                NaN     NaN          NaN       20
1                            Custard     NaN          NaN      112
2                                NaN     NaN          NaN       35
3                          Fish, Ahi     NaN          NaN        4
4  Lasagna, Unspecified; Eggs, Other     NaN  Enteritidis       26

   hospitalizations  fatalities
0               0.0         0.0
1               0.0         0.0
2               0.0         0.0
3               0.0         0.0
4               3.0         0.0

# Renaming Preview

## Rename using names in read_csv

In [24]:
imm = pd.read_csv('https://raw.githubusercontent.com/jimcody2014/python_data/refs/heads/main/Immunotherapy.csv')
imm.head()

,sex,age,Time,Number_of_Warts,Type,Area,induration_diameter,Result_of_Treatment
0,1,22,2.25,14,3,51,50,1
1,1,15,3.00,2,3,900,70,1
2,1,16,10.50,2,1,100,25,1
3,1,27,4.50,9,3,80,30,1
4,1,20,8.00,6,1,45,8,1

In [29]:
imm = pd.read_csv('https://raw.githubusercontent.com/jimcody2014/python_data/refs/heads/main/Immunotherapy.csv',
                    names = ('a','b','c','d','e','f','g','h'))
imm.head()

,a,b,c,d,e,f,g,h
0,sex,age,Time,Number_of_Warts,Type,Area,induration_diameter,Result_of_Treatment
1,1,22,2.25,14,3,51,50,1
2,1,15,3,2,3,900,70,1
3,1,16,10.5,2,1,100,25,1
4,1,27,4.5,9,3,80,30,1

## Rename all columns using rename()

In [33]:
imm.rename(columns = {'a':'a1','b':'b1','c':'c1','d':'d1','e':'e1','f':'f1','g':'g1','h':'h1'}, inplace = False)
imm.head()

,a1,b1,c1,d1,e1,f1,g1,h1
0,sex,age,Time,Number_of_Warts,Type,Area,induration_diameter,Result_of_Treatment
1,1,22,2.25,14,3,51,50,1
2,1,15,3,2,3,900,70,1
3,1,16,10.5,2,1,100,25,1
4,1,27,4.5,9,3,80,30,1

In [34]:
imm.head()

,a1,b1,c1,d1,e1,f1,g1,h1
0,sex,age,Time,Number_of_Warts,Type,Area,induration_diameter,Result_of_Treatment
1,1,22,2.25,14,3,51,50,1
2,1,15,3,2,3,900,70,1
3,1,16,10.5,2,1,100,25,1
4,1,27,4.5,9,3,80,30,1

In [32]:
# An alternative - using the axis=1
imm.rename({'a':'a1','b':'b1','c':'c1','d':'d1','e':'e1','f':'f1','g':'g1','h':'h1'}, axis =1, inplace = True)
imm.head()

,a1,b1,c1,d1,e1,f1,g1,h1
0,sex,age,Time,Number_of_Warts,Type,Area,induration_diameter,Result_of_Treatment
1,1,22,2.25,14,3,51,50,1
2,1,15,3,2,3,900,70,1
3,1,16,10.5,2,1,100,25,1
4,1,27,4.5,9,3,80,30,1

## Rename some columns using rename()

In [36]:
imm.rename(columns = {'b1':'BB','e1':'EE'}, inplace = True)
imm.head()

,a1,BB,c1,d1,EE,f1,g1,h1
0,sex,age,Time,Number_of_Warts,Type,Area,induration_diameter,Result_of_Treatment
1,1,22,2.25,14,3,51,50,1
2,1,15,3,2,3,900,70,1
3,1,16,10.5,2,1,100,25,1
4,1,27,4.5,9,3,80,30,1

## Rename using setaxis()

In [37]:
imm.set_axis(['AA','BB','CC','DD','EE','FF','GG','HH'], axis = 'columns')
imm.head()

,a1,BB,c1,d1,EE,f1,g1,h1
0,sex,age,Time,Number_of_Warts,Type,Area,induration_diameter,Result_of_Treatment
1,1,22,2.25,14,3,51,50,1
2,1,15,3,2,3,900,70,1
3,1,16,10.5,2,1,100,25,1
4,1,27,4.5,9,3,80,30,1

## Rename using .columns

In [ ]:
imm.columns = ['AaA','BbB','CcC','DdD','EeE','FfF','GgG','HhH']
imm.head()

## Rename using str.replace (a string function)

In [ ]:
imm.columns = imm.columns.str.replace('CcC','CCC')
imm.head()