<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Working-with-dates-and-time-in-Pandas" data-toc-modified-id="Working-with-dates-and-time-in-Pandas-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Working with dates and time in Pandas</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#1.-Convert-strings-to-datetime" data-toc-modified-id="1.-Convert-strings-to-datetime-1.0.1"><span class="toc-item-num">1.0.1&nbsp;&nbsp;</span>1. Convert strings to datetime</a></span><ul class="toc-item"><li><span><a href="#Day-first-format" data-toc-modified-id="Day-first-format-1.0.1.1"><span class="toc-item-num">1.0.1.1&nbsp;&nbsp;</span>Day first format</a></span></li><li><span><a href="#Custom-format" data-toc-modified-id="Custom-format-1.0.1.2"><span class="toc-item-num">1.0.1.2&nbsp;&nbsp;</span>Custom format</a></span></li><li><span><a href="#Speedup-parsing-with-infer_datetime_format" data-toc-modified-id="Speedup-parsing-with-infer_datetime_format-1.0.1.3"><span class="toc-item-num">1.0.1.3&nbsp;&nbsp;</span>Speedup parsing with infer_datetime_format</a></span></li><li><span><a href="#Handle-parsing-error" data-toc-modified-id="Handle-parsing-error-1.0.1.4"><span class="toc-item-num">1.0.1.4&nbsp;&nbsp;</span>Handle parsing error</a></span></li></ul></li><li><span><a href="#2.-Assemble-a-datetime-from-multiple-columns" data-toc-modified-id="2.-Assemble-a-datetime-from-multiple-columns-1.0.2"><span class="toc-item-num">1.0.2&nbsp;&nbsp;</span>2. Assemble a datetime from multiple columns</a></span></li><li><span><a href="#3.-Get-year,-month-and-day" data-toc-modified-id="3.-Get-year,-month-and-day-1.0.3"><span class="toc-item-num">1.0.3&nbsp;&nbsp;</span>3. Get year, month and day</a></span></li><li><span><a href="#4.-Get-the-week-of-year,-the-day-of-week-and-leap-year" data-toc-modified-id="4.-Get-the-week-of-year,-the-day-of-week-and-leap-year-1.0.4"><span class="toc-item-num">1.0.4&nbsp;&nbsp;</span>4. Get the week of year, the day of week and leap year</a></span></li><li><span><a href="#5.-Get-the-age-from-the-date-of-birth" data-toc-modified-id="5.-Get-the-age-from-the-date-of-birth-1.0.5"><span class="toc-item-num">1.0.5&nbsp;&nbsp;</span>5. Get the age from the date of birth</a></span></li><li><span><a href="#6.-Improve-performance-by-setting-date-column-as-the-index" data-toc-modified-id="6.-Improve-performance-by-setting-date-column-as-the-index-1.0.6"><span class="toc-item-num">1.0.6&nbsp;&nbsp;</span>6. Improve performance by setting date column as the index</a></span></li><li><span><a href="#7.-Select-data-with-a-specific-year-and-perform-aggregation" data-toc-modified-id="7.-Select-data-with-a-specific-year-and-perform-aggregation-1.0.7"><span class="toc-item-num">1.0.7&nbsp;&nbsp;</span>7. Select data with a specific year and perform aggregation</a></span></li><li><span><a href="#8.-Select-data-with-a-specific-month-or-a-specific-day-of-the-month" data-toc-modified-id="8.-Select-data-with-a-specific-month-or-a-specific-day-of-the-month-1.0.8"><span class="toc-item-num">1.0.8&nbsp;&nbsp;</span>8. Select data with a specific month or a specific day of the month</a></span></li><li><span><a href="#9.-Select-data-between-two-dates" data-toc-modified-id="9.-Select-data-between-two-dates-1.0.9"><span class="toc-item-num">1.0.9&nbsp;&nbsp;</span>9. Select data between two dates</a></span></li><li><span><a href="#10.-Handle-missing-values" data-toc-modified-id="10.-Handle-missing-values-1.0.10"><span class="toc-item-num">1.0.10&nbsp;&nbsp;</span>10. Handle missing values</a></span></li><li><span><a href="#That's-it" data-toc-modified-id="That's-it-1.0.11"><span class="toc-item-num">1.0.11&nbsp;&nbsp;</span>That's it</a></span></li></ul></li></ul></li></ul></div>

# Working with dates and time in Pandas

In [14]:
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings("ignore")

### 1. Convert strings to datetime

In [15]:
# 1/20/2021 is a string
df = pd.DataFrame({'date': ['1/20/2021', '1/21/2021', '1/22/2021'],
                   'vaccines': [2, 3, 4]})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      3 non-null      object
 1   vaccines  3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes

In [16]:
df['date'] = pd.to_datetime(df['date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      3 non-null      datetime64[ns]
 1   vaccines  3 non-null      int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 180.0 bytes

In [17]:
df

        date  vaccines
0 2021-01-20         2
1 2021-01-21         3
2 2021-01-22         4

#### Day first format

In [18]:
df = pd.DataFrame({'date': ['3/10/2000', '3/11/2000', '3/12/2000'],
                   'value': [2, 3, 4]})
df['date'] = pd.to_datetime(df['date'], dayfirst=True)

In [19]:
df

        date  value
0 2000-10-03      2
1 2000-11-03      3
2 2000-12-03      4

#### Custom format

In [20]:
df = pd.DataFrame({'date': ['2016-6-10 20:30:0', 
                            '2016-7-1 19:45:30', 
                            '2013-10-12 4:5:1'],
                   'value': [2, 3, 4]})
df['date'] = pd.to_datetime(df['date'], format="%Y-%d-%m %H:%M:%S")

In [21]:
df

                 date  value
0 2016-10-06 20:30:00      2
1 2016-01-07 19:45:30      3
2 2013-12-10 04:05:01      4

#### Speedup parsing with infer_datetime_format

In [22]:
df = pd.DataFrame({'date': ['3/11/2000', '3/12/2000', '3/13/2000'] * 1000 })
df.head()

        date
0  3/11/2000
1  3/12/2000
2  3/13/2000
3  3/11/2000
4  3/12/2000

In [23]:
%timeit pd.to_datetime(df['date'], infer_datetime_format=True)

303 μs ± 3.57 μs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [24]:
%timeit pd.to_datetime(df['date'], infer_datetime_format=False)

311 μs ± 9.37 μs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

#### Handle parsing error

In [25]:
df = pd.DataFrame({'date': ['3/10/2000', '/11/2000', '3/12/2000'],
                   'value': [2, 3, 4]})
df['date'] = pd.to_datetime(df['date'])

ValueError: time data "/11/2000" doesn't match format "%m/%d/%Y", at position 1. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [ ]:
df['date'] = pd.to_datetime(df['date'], errors='ignore')
df

In [ ]:
df['date'] = pd.to_datetime(df['date'], errors='coerce')
df

### 2. Assemble a datetime from multiple columns

In [ ]:
df = pd.DataFrame({'year': [2015, 2016],
                   'month': [2, 3],
                   'day': [4, 5]})

df['date'] = pd.to_datetime(df)

In [ ]:
df

### 3. Get year, month and day

In [ ]:
df = pd.DataFrame({'name': ['Tom', 'Andy', 'Lucas'],
                 'DoB': ['08-05-1997', '04-28-1996', '12-16-1995']})
df['DoB'] = pd.to_datetime(df['DoB'])

In [ ]:
df['year']= df['DoB'].dt.year
df['month']= df['DoB'].dt.month
df['day']= df['DoB'].dt.day
df

### 4. Get the week of year, the day of week and leap year

In [ ]:
df['week_of_year'] = df['DoB'].dt.week
df['day_of_week'] = df['DoB'].dt.dayofweek
df['is_leap_year'] = df['DoB'].dt.is_leap_year
df

In [ ]:
dw_mapping={
    0: 'Monday', 
    1: 'Tuesday', 
    2: 'Wednesday', 
    3: 'Thursday', 
    4: 'Friday',
    5: 'Saturday', 
    6: 'Sunday'
} 
df['day_of_week_name']=df['DoB'].dt.weekday.map(dw_mapping)
df

### 5. Get the age from the date of birth

In [ ]:
today = pd.to_datetime('today')
df['age'] = today.year - df['DoB'].dt.year

df

In [ ]:
# Year difference
today = pd.to_datetime('today')
diff_y = today.year - df['DoB'].dt.year
# Haven't had birthday
b_md = df['DoB'].apply(lambda x: (x.month,x.day) )
no_birthday = b_md > (today.month,today.day)

df['age'] = diff_y - no_birthday
df

### 6. Improve performance by setting date column as the index

In [ ]:
df = pd.read_csv('data/city_sales.csv',parse_dates=['date'])
df.info()

In [ ]:
df = df.set_index(['date'])

In [ ]:
df

### 7. Select data with a specific year and perform aggregation

In [ ]:
df.loc['2018']

In [ ]:
df.loc['2018','num'].sum()

In [ ]:
df['2018'].groupby('city').sum()

### 8. Select data with a specific month or a specific day of the month

In [ ]:
df.loc['2018-5']

In [ ]:
df.loc['2018-5-1']

In [ ]:
cond = df.index.month==2
df[cond]

### 9. Select data between two dates

In [ ]:
df.loc['2016' : '2018']

In [ ]:
df.loc['2018-5-2 10' : '2018-5-2 11' ]

In [ ]:
df.loc['2018-5-2 10:30' : '2018-5-2 10:45' ]

In [ ]:
df.between_time('10:30','10:45')

### 10. Handle missing values

In [ ]:
df['rolling_sum'] = df.rolling(3).sum()
df.head()

In [ ]:
df['rolling_sum_backfilled'] = df['rolling_sum'].fillna(method='backfill')
df.head()

### That's it
This is a notebook for the medium article [Working with datetime in Pandas DataFrame](https://towardsdatascience.com/working-with-datetime-in-pandas-dataframe-663f7af6c587)

Please check out article for instructions