<h1><span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Part-1---Manipulating-the-data" data-toc-modified-id="Part-1---Manipulating-the-data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Part 1 - Manipulating the data</a></span></li><li><span><a href="#Part-2---Using-Groupby()" data-toc-modified-id="Part-2---Using-Groupby()-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Part 2 - Using Groupby()</a></span></li><li><span><a href="#Part-3---Merging-a-dataframe" data-toc-modified-id="Part-3---Merging-a-dataframe-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Part 3 - Merging a dataframe</a></span></li></ul></div>

# Part 1 - Manipulating the data

In [1]:
# What imports do you need? You can use the dame as in the lesson.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
from numpy.random import randn

https://raw.githubusercontent.com/jimcody2014/python-data/main/beers.csv

In [2]:
# Use the beer dataset to create a dataframe name df

In [3]:
df.head()

,Unnamed: 0,abv,ibu,id,name,style,brewery_id,ounces
0,0,0.050,NaN,1436,Pub Beer,American Pale Lager,408,12.0
1,1,0.066,NaN,2265,Devil's Cup,American Pale Ale (APA),1770,12.0
2,2,0.071,NaN,2264,Rise of the Phoenix,American IPA,1770,12.0
3,3,0.090,NaN,2263,Sinister,American Double / Imperial IPA,1770,12.0
4,4,0.075,NaN,2262,Sex and Candy,American IPA,1770,12.0

In [ ]:
# brewery_id 177 is coded incorrectly.  It is coded as 1770.  Correct the coding.

In [ ]:
# Some of the American Pale Ale styles are misspelled.  
# Correct those that have All to Ale, Pall to Pale and Americn to American.

In [ ]:
# Change the id and brewery_id to a string object

In [ ]:
# Rename id to beer_id

In [ ]:
# There are three rows with duplicated data.  Remove the duplicates.

In [ ]:
# Which columns have missing values?

In [ ]:
# Create a plot of the missing values.

In [ ]:
# If abv contins any missing values, substitute with the median value for the column.

In [ ]:
# If any column has more than 35% missing data, drop the column.

In [ ]:
# If you think the first column is just a row id, drop it.

In [ ]:
# Do any rows have a missing brewery_id?  If yes, drop the row.

In [ ]:
# Create a visualization for each categorical column.

In [ ]:
# Create a histogram for each numerical column.

In [ ]:
# Remove any rows where the ounces value is an outlier.

# Part 2 - Using Groupby()

In [ ]:
beer.info()

In [ ]:
# Group by style
# How many groups are there?

In [ ]:
# What is the mean abv for each style?

In [ ]:
# What is the mean for abv and ounces for each style?

In [ ]:
# What is the mean for abv and ounces for each style, brewery_id combination?

# Part 3 - Merging a dataframe

In [ ]:
# Read in the breweries data
# https://raw.githubusercontent.com/jimcody2014/python-data/main/breweries.csv

In [ ]:
# Remove the unnamed column

In [ ]:
# Merge the beer df with the breweries df.
# What columns will the merge be based on?
# Are those columns the same datatype?  Merge columns have to be the same datatype.