In [3]:
import sqlite3

In [4]:
#conn = sqlite3.connect('data.db')
conn = sqlite3.connect('data.db')
c = conn.cursor()

In [15]:
table_name = 'users'
col1 = 'name '
col1_t = 'text'
col2 = 'email '
col2_t = 'text'
sql_command = f'DROP TABLE IF EXISTS {table_name};'
c.execute(sql_command)
conn.commit()

In [ ]:
c.execute('''CREATE TABLE users (name text, email text)''')
c.execute("Insert into users values ('Jack','jack@abc.com')")
conn.commit
#conn.close

In [16]:
cr_table = f'CREATE TABLE {table_name}({col1}{col1_t},{col2}{col2_t});'
cr_table

'CREATE TABLE users(name text,email text);'

In [17]:
c.execute(cr_table)

In [18]:
c.execute("Insert into users values ('Jack','jack@abc.com')")
conn.commit

In [19]:
for row in c.execute('''select * from users'''):
  print('row:', row)

row: ('Jack', 'jack@abc.com')