<a href="https://colab.research.google.com/github/jimcody2014/Python-Public/blob/main/database.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import sqlite3

In [3]:
#conn = sqlite3.connect('data.db')
conn = sqlite3.connect('data.db')
c = conn.cursor()

In [ ]:
table_name = 'users'
sql_command = f'DROP TABLE IF EXISTS {table_name};'
c.execute(sql_command)
conn.commit()

In [ ]:

c.execute('''CREATE TABLE users (name text, email text)''')
c.execute("Insert into users values ('Jack','jack@abc.com')")
conn.commit
#conn.close

In [ ]:
for row in c.execute('''select * from users'''):
  print('row:', row)

In [ ]:
users = [('Denise', 'denise@abc.com'),('Mary', 'mary@abc.com'),('John', 'john@abc.com')]

In [ ]:
type(users)

In [ ]:
c.executemany("insert into users values (?,?)", users)
conn.commit()

In [ ]:
for row in c.execute('''select * from users'''):
  print('row:', row)

In [ ]:
user_collection = []

In [ ]:
for row in c.execute('''select * from users'''):
  user_collection.append(list(row))

In [ ]:
print(user_collection)

In [ ]:
conn.close

# Working with csv files

In [ ]:
import csv

In [ ]:
# This file will be written to the Works folder on the VM

with open ('users.csv','w',newline='') as csvfile:
  wtr = csv.writer(csvfile,
                   delimiter=',',
                   quotechar='"',
                   quoting=csv.QUOTE_NONNUMERIC)
  wtr.writerows(user_collection)

In [ ]:
uc2 = []
with open('customers.csv', 'r') as csvfile:
  rdr = csv.reader(csvfile,
                   delimiter=',',
                   quotechar='"')
  for line in rdr:
    uc2.append(line)

In [ ]:
print(uc2)

# Exercise

In [ ]:
def execute_sql(sql, connInfo = 'data.db'):
    toReturn = []
    try:
        conn = sqlite3.connect(connInfo)
        c = conn.cursor()
        for row in c.execute(sql):
            toReturn.append(list(row))
        conn.commit()
        return toReturn
    finally:
        if conn is not None:
            conn.close()

In [ ]:
# from students

In [ ]:
user_list = []

n = int(input("How many names do you want to add? "))

for i in range(n):
    names = input("Enter a name: ")
    emails = input("Enter a correspond email: ")
    user_list.append(((names),(emails)))
    

print("The list is:", user_list)

In [ ]:
def create_table(tbl_name,column1,format1,column2,format2):
    conn = sqlite3.connect('data.db')
    c = conn.cursor()
    c.execute(''' create table users (name text, email text)''')
    conn.commit()
    print(tbl_name,column1,format1,column2,format2)

In [ ]:
Parameter driven create table statement -  

# table name param
table_name = 'users'

# create table using table param
c.execute(f'CREATE TABLE {table_name} (name text, email text) ')

In [ ]:
def execute_sql(sql, connInfo = 'data.db'):
    toReturn = []
    try:
        conn = sqlite3.connect(connInfo)
        c = conn.cursor()
        for row in c.execute(sql):
            toReturn.append(list(row))
        conn.commit()
        return toReturn
    finally:
        if conn is not None:
            conn.close()