In [2]:
import csv
import sqlite3

In [4]:
def execute_sql(sql, connInfo = 'data.db'):
    toReturn = []

    try:
        conn = sqlite3.connect(connInfo)
        c = conn.cursor()

        for row in c.execute(sql):
            toReturn.append(list(row))

        conn.commit()
        return toReturn
    finally:
        if conn is not None:
            conn.close()


def execute_many(list, sql, connInfo = 'data.db'):
    toReturn = []

    try:
        conn = sqlite3.connect(connInfo)
        c = conn.cursor()
        
        for row in c.executemany(sql, list):
            toReturn.append(list(row))

        conn.commit()
        return toReturn
    finally:
        if conn is not None:
            conn.close()

In [3]:
my_data = []
with open('customers.csv', 'r') as csvfile:
  rdr = csv.reader(csvfile,
                   delimiter=',',
                   quotechar='"')
  for line in rdr:
    my_data.append(line)

In [9]:
execute_sql('''CREATE TABLE customers (F0 int, F1 int, F2 text, F3 int, F4 bool, F5 text)''')

[]

In [10]:
execute_many(my_data, "INSERT INTO customers VALUES (?,?,?,?,?,?)")

[]

In [11]:
execute_sql('''select * from customers''')

[[44, 'Female', '25841', 8, 'FALSE', 'Charlotte'],
 [94, 'Male', '135636', 16, 'FALSE', 'Washington'],
 [64, 'Female', '116639', 19, 'FALSE', 'New York'],
 [40, 'Male', '85988', 20, 'FALSE', 'New York'],
 [66, 'Male', '80867', 8, 'FALSE', 'San Francisco'],
 [30, 'Male', '77074', 9, 'FALSE', 'Indianapolis'],
 [32, 'Male', '44682', 6, 'FALSE', 'Denver'],
 [75, 'Female', '118308', 19, 'FALSE', 'Phoenix'],
 [40, 'Male', '74415', 14, 'FALSE', 'San Antonio'],
 [37, 'Male', '52904', 11, 'FALSE', 'Los Angeles'],
 [28, 'Male', '61752', 14, 'FALSE', 'San Jose'],
 [21, 'Female', '39896', 10, 'FALSE', 'Jacksonville'],
 [32, 'Male', '34501', 15, 'FALSE', 'San Antonio'],
 [72, 'Male', '66727', 4, 'FALSE', 'New York'],
 [42, 'Male', '29855', 10, 'FALSE', 'Phoenix']]